/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#181818 ;
}

.linear-gradient-400 {
  background-image: linear-gradient(to bottom, #181818, #242424);
}
.linear-gradient-500 {
  background-image: linear-gradient(180deg, #242424, #181818);
}

.box-shadow-300{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bow-shadow-500 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.transition-duration-300 {
  transition: background-color 1s linear;
}

.transition-duration-400 {
  transition: all 1s ease;
}

.card:hover .card-play{
  display: block;
}

@keyframes rising{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.transition-duration-200{
  animation: rising 2s ;
}

.input-range{
  -webkit-appearance: none;
  /* background: #d3d3d3; */
  /* outline: none; */
  -webkit-transition: .2s;
  /* transition: opacity .2s; */
}

.input-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none; 
  width:16px;
  height: 8px;
  background-color: #04AA6D;
  border-radius:100px;
}

.input-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}